.button {
  border-radius: 5px;
  padding: 6px 11px;
  width: auto;
  border: none;
  max-width: 250px;
  height: auto;
  text-align: left;
  background: var(--secondary);
  margin-bottom: 15px;
  cursor: pointer;
  transition: all .25s ease-in-out;
  font-family: var(--body);
  color: var(--text);
  font-weight: normal;
  box-sizing: content-box;
  position: relative;
  z-index: 1000;
  font-size: 16px;
}

.button:hover {
  background-color: var(--text);
  border-color: var(--text);
  color: var(--secondary);
  box-shadow: 0.4rem 0.4rem 0 0 var(--secondary);
}

.button:focus {
  outline: none;
  background-color: var(--accent);
}

.button:after {
  position: absolute;
  right: -35px;
  font-size: 25px;
  font-weight: bold; 
  top: -2px;
}

.show-answer .button.correct:after,
.show-answer .button.correct.selected:after {
    content: '✓';
    box-shadow: none;
}

.show-answer .button.selected:after {
    content: '×';
    top: -2px;
    right: -33px;
    box-shadow: none;
}